header {
  background-color: rgb(58, 66, 69);
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.BtnsList {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 48px; 
}

.BtnsItem {
  display: flex;
}

.btn {
  background-color: transparent;
  color: white;
  border: none;
  padding: 0 16px;
  font-size: 17px;
  cursor: pointer;
  height: 100%;
  transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
  background-color: #056c98;
  color: white;
}